body {
    font-family: 'Raleway', sans-serif;
    background-color: slategray;
    color: white;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 120px;
}

.header-buttons {
    border: 3px solid yellow;
    margin: 30px 0;
    border-radius: 20px;
}

.button-text {
    font-size: 24px;
    padding-top: calc(50% - 60px);
    padding-right: 20px;
    padding-left: 20px;
}

.header-center {
    font-size: 80px;
    padding: 10px 0;
}

.social-icon {
    height: 100px;
    width: auto;
    padding: 10px 0;
}

.anna-headshot {
    height: 110px;
    width: auto;
    padding: 5px 0;
    border-radius: 50%;
}

@media (max-width: 576px) {
    .header-container {
        flex-direction: row-reverse;
        height: auto;
        justify-content: center;
    }

    .header-buttons {
        margin: auto;
    }

    .header-center {
        font-size: 30px;
    }

    .anna-headshot {
        display: none;
    }
}

footer {
    text-align: center;
}

